body{
    background-color: rgb(100, 130, 237);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    margin: 0;
    padding: 10px;
    line-height: 1.7;
    font-size: 1.05em;
}

.site-header {
    background-color: #0077cc;
    color: white;
    padding: 25px 0;
    text-align: center;
    border-bottom: 4px solid #005fa3;
    margin-bottom: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

@media (max-width: 768px)
{
    .site-header {
        margin-top: 0;
        margin-bottom:  0.5em;
        font-size: 2.5em;
        letter-spacing: 0.1em;
    }
}

@media (max-width: 480px)
{
    .site-header p {
        margin-top: 0;
        font-size: 1.2em;
        font-style: italic;
    }
}

nav {
    margin-bottom: 30px;
    text-align: center;
}

nav h2 {
    font-size: 2em;
    margin-bottom: 15px;
    color: #006400;
    border-left: 0.3 solid #006400;
    padding-left: 0.5em;
    margin-top: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    color: #0077cc;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #005fa3;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #b0c4de;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

section h2 {
    color: #006400;
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-left:  0.5em;
    border-left: 0.3em solid #006400;
}

# pokemon-section {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #b0c4de;
    background-color: #ffffff;
    border-radius: 8px;
}

# pokemon-section ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

