body{
    background-color: rgb(100, 130, 237);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 0;
}

p{
    line-height: 2;
    font-size: 1.1em;
}

a:hover {
    background-color: #ffff00;
    color: #000000;
    letter-spacing: 0.2em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 3em;
    font-size: 1.5em;
    border-bottom: 0.2em solid #ccc;
    padding-bottom: 1em;
}


h1{
    color: #006400;
    letter-spacing: 0.15em;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 2em;
    font-size: 2em;
    border-bottom: 0.1em solid #aaa;
    padding-bottom: 0.8em;

}

h2{
    color: #006400;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    font-size: 1.3em;
    border-left: 0.3em solid #006400;
}

p {
    margin-bottom: 15px;
    font-size: 1em;
}

#bulbasaur-header{
    color: #006400;
}

#charmander-header{
    color: #8b0000;
}

#squirtle-header{
    color: #00008b;
}

section{
    padding: 0.5em;
}

section h1 {
    text-decoration: underline;
}