body{
    background-color: rgb(100, 130, 237);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #333;
    margin: 0;
    padding: 0;
}

p{
    line-height: 2;
    font-size: 1.1em;
}

a:hover {
    background-color: yellow;
}

}

h1{
    color: black;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 2.5em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;

}

h2{
    color: darkgreen;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 10px;
    font-size: 1.8em;
    border-left: 4px solid darkgreen;
}

p {
    margin-bottom: 15px;
    font-size: 1em;
}

#bulbasaur-header{
    color: darkgreen;
}

#charmander-header{
    color: darkred;
}

#squirtle-header{
    color: darkblue ;
}

section{
    padding: 4px;
}